<div class="col-md-5">
  <div class="panel panel-primary">
    <div class="panel-heading">{{product.brand}} {{product.model}}</div>
    <div class="panel-body">
      <div>{{product.price | currency}} </div>
      <div>InStock:
        <input type="checkbox" [checked]="product.inStock" />
      </div>
      <div>{{product.lastUpdated | time }}</div>
    </div>
  </div>

  <div>
    <ul class="nav-tabs nav">
      <li routerLinkActive="active">
        <a  routerLink="/products/{{id}}/specs">Specifications</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/products/{{id}}/reviews">Reviews</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
  